 #root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: gray;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(50, 50, 50);
  }
}